<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
    <select id="getUserInfos" parameterType="String" resultType="UserDetailsDto">
        SELECT * from Users where username = #{username}
    </select>

    <select id="getUserAuth" parameterType="String" resultType="String">
        select authority from authorities where username = #{username}
    </select>

    <insert id="addUser" parameterType="UsersDto">
        insert all
            into users(username, password, enabled, location, realname )
            values(#{username}, #{password}, 1, #{location}, #{realname})
        into authorities(authorities.username ,authorities.authority) values(#{username}, 'ROLE_USER')
        SELECT * from dual
    </insert>

</mapper>