<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!--길재우-->
        <typeAlias type="com.project.wwg.secu.dto.TestDto" alias="TestDto"/>
        <typeAlias type="com.project.wwg.secu.dto.UserInfoVO" alias="UserInfoVO"/>
        <typeAlias type="com.project.wwg.secu.dto.UserDetailsVO" alias="UserDetailsVO"/>

        <!--코딩노비 1-->
        <typeAlias type="com.project.wwg.plan.dto.Spot" alias="Spot"/>


        <!--코딩노비 2-->


        <!--코딩노비 3-->


        <!--코딩노비 4-->


    </typeAliases>
</configuration>