<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spot">

    <select id="searchSpotOne" parameterType="string" resultType="Spot">
        select *
        from plan_spot
        where title = #{title}
    </select>

    <select id="searchSpots" parameterType="Page" resultType="Spot">
        <![CDATA[
        select *
        from (
                 SELECT a.*, ROWNUM as rnum
                 FROM (
                          SELECT *
                          FROM plan_spot
                          where title like '%' || #{keyword} || '%'
                          ORDER BY title) a)
        WHERE rnum >= #{startRow}
          and rnum <= #{endRow}
        ]]>
    </select>

    <select id="getSearchSpotsCount" parameterType="string" resultType="_int">
        select count(*)
        from plan_spot
        where title like '%' || #{keyword} || '%'
    </select>


    <insert id="insertSpot" parameterType="Spot">
        insert into plan_spot (title, info, lat, lng, address, photo, phone)
        values (#{title}, #{info}, #{lat}, #{lng}, #{address}, #{photo}, #{phone})
    </insert>

    <update id="insertSpots" parameterType="java.util.List">
        <foreach collection="list" item="spot" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL">
            INTO plan_spot(title,info,lat,lng,address,photo,phone)
            VALUES (
            #{spot.title}
            , #{spot.info}
            , #{spot.lat}
            , #{spot.lng}
            , #{spot.address}
            , #{spot.photo}
            , #{spot.phone}
            )
        </foreach>
    </update>

    <!--    <delete id="deleteSpot" parameterType="String">-->
    <!--        delete-->
    <!--        from plan_spot-->
    <!--        where id = #{id}-->
    <!--    </delete>-->

    <delete id="deleteAllSpots">
        delete
        from plan_spot
    </delete>
</mapper>