#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    height: auto;
}

header {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
}

#plan-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1096px;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    height: 100%;
}

.plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    text-align: center;
}

#plan-img{
    position: relative;
}

#plan-img img {
    width: 300px;
    height: 200px;
}

#title {
    font-weight: bold;
}

#none-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#none-plan a {
    text-decoration:none;
    width: 90px;
    border: 1px solid black;
    border-radius: 10%;
}

#none-plan p:hover {
    cursor: pointer;
}

#pubToggle {
    position: absolute;
    top: 15px;
    right: 15px;
}
#pubToggle i {
    color: #DA8028;
}
#pubToggle:hover {
    cursor: pointer;
}

#plan-info {
    display: grid;
    grid-template-columns: 120px 130px 50px;
    width: 300px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 15px;
}

#plan-info p {
    margin: 5px;
}

#title {
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title p {
    width: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#plan-controll p{
    color: #0f74a8;
    cursor: pointer;
}




