/* --------------------- 컨테이너 레이아웃 --------------------- */
#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav {
    width: 100vw;
}

#container {
    margin-top:70px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 750px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.9);
}

#content-header {
    display: flex;
    height: 8%;
}

#content-body {
    display: flex;
    width: 100%;
    height: 92%;
}

/* --------------------- 현재 여행일 정보 --------------------- */
#day-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

#now-day {
    font-size: 30px;
    width: 35%;
    text-align: right;
}

#now-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    line-height: 25px;
    width: 60%;
}

/* --------------------- 여행일 버튼 --------------------- */
#day-btns {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 45%;
    border-left: 1px solid black;
    color: dimgray;
    overflow: auto;
}

#day-btns div {
    font-size: 25px;
    margin-left: 20px;
}
#day-btns div:last-child {
    margin-right: 20px;
}

/* --------------------- 여행일 추가, 감소 --------------------- */
#day-controll {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 5%;
    font-size: 25px;
    font-weight: lighter;
    border-left: 1px solid black;
    border-right: 1px solid black;
}


/* --------------------- 플랜 제목 --------------------- */
#title-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}

#title {
    border: none;
    border-right: 1px solid black;
    padding-left: 20px;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

/* --------------------- 플랜 저장 버튼 --------------------- */
#save {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5%;
}

#save div {
    font-size: 20px;
    text-align: center;
}

/* --------------------- 여행일의 플랜 목록 --------------------- */
#plans {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 20%;
    border-top: 1px solid black;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#plans::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.day-plans {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 85px;
    border-bottom: 1px solid black;
}

.day-plans img {
    padding-left: 2px;
    width: 80px;
    height: 80px;
}

.day-plans div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    height: 100%;
    line-height: 22px;
}

.day-plans div:nth-child(2) {
    width: 165px;
    font-size: 17px;
    height: 100%;
    margin-left: 10px;
}

.day-plans div:nth-child(3) {
    position: absolute;
    text-align: center;
    width: 8%;
    font-size: 35px;
    font-weight: lighter;
    padding-right: 10px;
    right: 10px;
}

.day-plans p {
    margin-top: 0;
    margin-bottom: 0;
}

/* --------------------- 검색 컨테이너 --------------------- */
#pick {
    display: flex;
    flex-direction: column;
    width: 20%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

/* --------------------- 검색 창 --------------------- */
#search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 43px;
    border-bottom: 1px solid black;
    height: 45px;
}

#search-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#search-input input {
    border: none;
    height: 100%;
    width: 85%;
    padding-left: 10px;
    font-size: 17px;
}

#search-input button {
    height: 100%;
    width: 50px;
}

#search-fail {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* --------------------- 검색 결과 --------------------- */
.plan-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 72px;
    border-bottom: 1px solid black;
}

.plan-item img {
    margin-left: 3px;
    width: 66px;
    height: 66px;
}

.plan-item div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    width: 60%;
    height: 100%;
    line-height: 15px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.plan-item div:nth-child(3) {
    text-align: center;
    width: 8%;
    font-size: 25px;
    font-weight: lighter;
    padding-right: 10px;
}

.plan-item p {
    margin: 0;
}

/* --------------------- 페이징 버튼 --------------------- */
#pageBtns {
    text-align: center;
    height: 30px;
}

#pageBtnsUl {
    text-align: center;
    display: inline-block;
    border: 1px solid #ccc;
    border-right: 0;
    list-style: none;
    padding-inline-start: 0;
}

#pageBtnsUl li {
    text-align: center;
    float: left;
    cursor: pointer;
}

#pageBtnsUl li span {
    display: block;
    font-size: 12px;
    padding: 9px 10px;
    border-right: solid 1px #ccc;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

#pageBtnsUl li.on {
    background: #eda712;
}

#pageBtnsUl li.on a {
    color: #fff;
}

/* --------------------- 지도 --------------------- */
#map {
    width: 60%;
    height: 100%;
    border-top: 1px solid black;
}

/* --------------------- 관광지 세부정보창 --------------------- */
#detail-view {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    text-align: center;
    border-top: 1px solid black;
}

#detail-img {
    margin-top: 15px;
    margin-bottom: 50px;
    width: auto;
    height: 250px;
}

#detail-box {
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 280px;
}

#detail-title-box {
    margin-bottom: 10px;
    font-size: 25px;
}

#detail-rating-box {
    margin-bottom: 20px;
    font-size: 20px;
}

#detail-info-box {
    margin: 30px 150px 30px 150px;
    font-size: 18px;
}

#close-box {
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: 30px;
}

/* --------------------- 마우스 오버시 커서모양 변경 --------------------- */
.day-btn:hover, .price-btn:hover, .remove-plan:hover, .add-plan:hover, .spot-title:hover, #day-plus:hover, #day-minus:hover, img:hover, #save, #close-box, #searchBtn {
    cursor: pointer;
}