
#container {
    display: grid;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    place-items: center;
}

h1 {
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

#plan-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 1fr;
    width: 1096px;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

table {
    background-color: #fffffff5;
}

#paging {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#paging li {
    margin-right: 10px;
}

#good{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
#good i{
    width: 30px;
}

.plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    text-align: center;
}

#pubPlans {
    width: 1000px;
    margin-bottom: 50px;
}

#plan-img img {
    width: 300px;
    height: 200px;
}

#plan-info {
    display: grid;
    grid-template-columns: 80px 130px 90px;
    width: 300px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 15px;
}

#plan-info p {
    margin: 5px;
}

#title {
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title p {
    width: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#plan-controll p{
    color: #0f74a8;
    cursor: pointer;
}

li{
    list-style: none;
}