@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html,body{
    height: 100%;
}
body{
    margin: 0%;
    display: flex;
    flex-direction: column;
    background-image : url('/img/qna/main제주말.jpg');
    background-size: 900px 900px;
    font-family: 'paybooc-Bold';
}
a{
    text-decoration: none;
    color: rgb(49, 48, 41);
}
.c_notlist_center{
    flex: 1;
    padding: 50px;
    margin: 400px auto;
    justify-content: center;
    display: grid;
    grid-gap: 20px;
    /* grid-gap: 1px; 혹시 몰라서 안지움 */
    /* height: 100vh; 혹시 몰라서 안지움 */
    grid-template-columns: 150px 900px;
    grid-template-rows: 1fr;
    grid-template-areas: 'side c_notlist_table' ;                     
    margin-top: 5%;

}
.side{
    grid-area: side;
}
#side_menu{
    padding: 10%;
    width: 151px;
    height: 210px;
    margin-top: 57%;
    background-color: #fffffff5;
    border-radius: 5px;

}
#side_menu thead{
    /* color: cadetblue; */
    background-color: #F4D160;
}
.c_notlist_table{
    grid-area: c_notlist_table;
}
#c_n_table1{
    background-color: #fffffff5;
}
.c_n_write_btn{
        display: flex;
        justify-content: right;
        margin: 15px;
}
.c_n_paging{
    display: flex;
	justify-content: center;
	margin: 15px;
}
.c_n_paging li{
	display: contents;
	list-style: none;
}
.c_n_search{
    display: flex;
    justify-content: center;
    height: 40px;
}
.c_n_search input{
	border-radius: 5px;
	border-style: none;
}
.c_n_search select{
	border-radius: 5px;
}