@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html,body{
    height: 100%;
}
body{
    margin: 0%;
    display: flex;
    flex-direction: column;
    background-image : url('/img/qna/main제주말.jpg');
    background-size: 900px 900px;
    font-family: 'paybooc-Bold';
}
a{
    text-decoration: none;
    color: rgb(49, 48, 41);
}
.c_meetview_center{
    flex: 1;
    padding: 50px;
    margin: 400px auto;
    justify-content: center;
    display: grid;
    grid-gap: 20px;
    /* grid-gap: 1px; 혹시 몰라서 안지움 */
    /* height: 100vh; 혹시 몰라서 안지움 */
    grid-template-columns: 150px 900px;
    grid-template-rows: 1fr 180px 1fr;
    grid-template-areas: 'side c_meetview_table' 
                         'side meetview_repl'
                         'side meetrel_list';                     
    margin-top: 5%;
}
.side{
    grid-area: side;
}
.side{
	border-radius: 5px;
}
#side_menu{
    padding: 10%;
    width: 151px;
    height: 210px;
    margin-top: 57%;
    background-color: #fffffff5;
    border-radius: 5px;

}
#side_menu thead{
    /* color: cadetblue; */
    background-color: #F4D160;
}
.c_meetview_table{
	grid-area:c_meetview_table;
}
#c_m_view_table1{
	background-color: #fffffff5;
}
.m_view_btns{
	display: flex;
	justify-content: center;
}
.m_view_btns input{
	margin:10px;
}
.meetview_repl{
	grid-area:meetview_repl;
	background-color: #fffffff5;
	border-radius: 10px;
}
.meetview_repl textarea{
	width:500px;
	height:120px;
}
.meetview_repl p{
	margin: 10px;
	display: inline-block;
}
.meetview_repl div{
	display: inline-table;
}
.meetrel_list{
	grid-area:meetrel_list;
	background-color: #fffffff5;
	border-radius: 10px;
}
form#frm{
	margin: 25px;
}
input{
	size:10px;
}
