<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spot">
    <!--    <select id="getSpotsList" resultType="Spot" parameterType="Integer">-->
    <!--        <![CDATA[-->
    <!--        SELECT *-->
    <!--        FROM (-->
    <!--                 SELECT a.*, ROWNUM as rnum-->
    <!--                 FROM (-->
    <!--                          SELECT *-->
    <!--                          FROM plan_item-->
    <!--                          ORDER BY title DESC) a)-->
    <!--        WHERE rnum >= 1-->
    <!--          and rnum <= 3-->
    <!--        ]]>-->
    <!--    </select>-->

    <select id="searchSpot" resultType="Spot" parameterType="String">
        select *
        from plan_spot
        where title like '%' || #{keyword} || '%'
    </select>

    <insert id="insertSpot" parameterType="Spot">
        insert into plan_spot (title, info, lat, lng, address, photo, phone)
        values (#{title}, #{info}, #{lat}, #{lng}, #{address}, #{photo}, #{phone})
    </insert>

    <insert id="insertSpots" parameterType="java.util.List">
        insert into plan_spot
        values
        <foreach collection="list" item="spot" separator=",">
            ("#{spot.title}", "#{spot.info}", #{spot.lat}, #{spot.lng}, "#{spot.address}", "#{spot.photo}",
            "#{spot.phone}")
        </foreach>
    </insert>

    <delete id="deleteSpot" parameterType="String">
        delete
        from plan_spot
        where id = #{id}
    </delete>

    <delete id="deleteAllSpots">
        delete
        from plan_spot
    </delete>
</mapper>