<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="noticens">

<resultMap id="noticeresult"      type="notice">
		<result property="notice_no"	     column="notice_no" />
		<result property="member_id"    column="member_id" />
		<result property="notice_title"   column="notice_title" />
		<result property="notice_content"   column="notice_content" />
		<result property="notice_regdate"     column="notice_regdate" />
		<result property="notice_hit" column="notice_hit" />
</resultMap> 

<!-- <select id="list" parameterType="hashMap" resultMap="boardResult"> -->
	<select id="list" parameterType="notice" resultMap="noticeresult"> 
		select * from (select a.*,rowNum rn from (
			select * from comm_notice
		<where>
			<if test="keyword != null and search!='subcon'">
				${search} like '%'||#{keyword}||'%'
			</if>
			<if test="keyword != null and search=='subcon'">
				notice_title like '%'||#{keyword}||'%' or
				notice_content like '%'||#{keyword}||'%'
			</if>
		</where>			
			 order by notice_no desc) a )
			where rn between #{startRow} and #{endRow}
	</select>

<insert id="insert" parameterType="notice">
		insert into comm_notice values ('4','아이디',#{notice_title},
		#{notice_content},sysdate,0,'n')

</insert>

<select id="getTotal" parameterType="notice" resultType="int">
		select count(*) from comm_notice 
		<where>
			<if test="keyword != null and search !='subcon'">
				${search} like '%'||#{keyword}||'%'
			</if>
			<if test="keyword != null and search=='subcon'">
				notice_title like '%'||#{keyword}||'%' or
				notice_content like '%'||#{keyword}||'%'
			</if>
		</where>
	</select>
	
	<!-- <update id="update" parameterType="notice">
		update comm_notice set member_id=#{member_id},notice_title=#{notice_title},
			notice_content=#{notice_content}
			where notice_no=#{notice_no}
	</update> -->
	
	<select id="select" parameterType="int" resultType="notice">
		select * from comm_notice where notice_no=#{notice_no}
	</select>
	
	<update id="selectUpdate" parameterType="int">
		update comm_notice set notice_hit = notice_hit+1 where notice_no=#{notice_no}
	</update>
	
</mapper>

