<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="noticens">

<resultMap id="noticeresult"      type="notice">
		<result property="notice_no"	     column="notice_no" />
		<result property="member_id"    column="member_id" />
		<result property="notice_title"   column="notice_title" />
		<result property="notice_content"   column="notice_content" />
		<result property="notice_regdate"     column="notice_regdate" />
		<result property="notice_hit" column="notice_hit" />
</resultMap> 

<!-- 리스트 출력 -->
	<select id="list" parameterType="notice" resultMap="noticeresult"> 
		select * from (select a.*,rowNum rn from (
			select * from comm_notice
		<where>
			<if test="keyword != null and search!='subcon'">
				${search} like '%'||#{keyword}||'%'
			</if>
			<if test="keyword != null and search=='subcon'">
				notice_title like '%'||#{keyword}||'%' or
				notice_content like '%'||#{keyword}||'%'
			</if>
		</where>			
			 order by notice_no desc) a )
			where rn between #{startRow} and #{endRow}
	</select>

<!-- 글작성 -->

<!-- '아이디' 부분 나중에 수정요망!!!!!!!!!!!!! -->
<!-- '아이디' 부분 나중에 수정요망!!!!!!!!!!!!! -->

<insert id="insert" parameterType="notice">
		insert into comm_notice values (#{notice_no},'아이디',#{notice_title},
		#{notice_content},sysdate,0,'n')

</insert>

<!-- 글번호 증가 -->
	<select id="getMaxNum" resultType="int">
		select nvl(max(notice_no),0) + 1 from comm_notice
	</select>

<!-- 목록 검색기능 -->	
<select id="getTotal" parameterType="notice" resultType="int">
		select count(*) from comm_notice 
		<where>
			<if test="keyword != null and search !='subcon'">
				${search} like '%'||#{keyword}||'%'
			</if>
			<if test="keyword != null and search=='subcon'">
				notice_title like '%'||#{keyword}||'%' or
				notice_content like '%'||#{keyword}||'%'
			</if>
		</where>
	</select>
	
<!-- notice_no로 유효성검사 -->
	<select id="select" parameterType="int" resultType="notice">
		select * from comm_notice where notice_no=#{notice_no}
	</select>
	
<!-- 조회수증가 -->
	<update id="selectUpdate" parameterType="int">
		update comm_notice set notice_hit = notice_hit+1 where notice_no=#{notice_no}
	</update>
	
<!-- 수정 -->	
	<update id="update" parameterType="notice">
		update comm_notice set notice_title=#{notice_title},
			notice_content=#{notice_content}
			where notice_no=#{notice_no}
	</update>
	
<!-- 삭제 -->	
	<update id="delete" parameterType="int">
		delete from comm_notice where notice_no=#{notice_no}
	</update>
	
</mapper>

