<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="qnans">

<!-- <resultMap type="qnatype" id="qna">
<result property="qna_no" column="qna_no"  />
<result property="username" column="username" />
<result property="qna_title" column="qna_title" />
<result property="qna_content" column="qna_content" />
<result property="qna_regdate" column="qna_regdate" />
<result property="qna_re_ref" column="qna_re_ref" />
<result property="qna_re_lev" column="qna_re_lev" />
<result property="qna_re_seq" column="qna_re_seq" />
<result property="qna_hit" column="qna_hit" />
</resultMap>  -->



<select id="list" resultType="qna">
select * from qna_board order by qna_no
</select>

<!-- qna_no 상세페이지  -->
<select id="select" parameterType="int" resultType="qna">
 select * from qna_board where qna_no=#{qna_no}
</select>

<!-- 조회수 -->
<update id="hitupdate" parameterType="int">
 update qna_board set qna_hit = qna_hit+1 where qna_no=#{qna_no}
</update>

<!-- seq 대신 사용 1추가 -->
<select id="getMaxNum" resultType="int">
 select nvl(max(qna_no),0) + 1 from qna_board
</select>

<!-- 게시글 저장 -->
<insert id="insert" parameterType="qna">
 insert into qna_board values (#{qna_no},#{username},#{qna_title},
 #{qna_content},sysdate,#{qna_re_ref},#{qna_re_lev},#{qna_re_seq},0)
</insert>

<!-- 게시판 총 게시물 개수-->
<select id="qna_count" resultType="int">
 select count(qna_no) from qna_board
</select>

<!-- 게시판목록  <![CDATA[]]>사용해서 쿼리문안에서 부등호 문자로 인식안하기위해서 -->
<select id="qna_list" parameterType="qna" resultType="qna">
 select * from (select rownum rnum, qna_board.* from (select * from qna_board 
        <where>
			<if test="keyword != null and search!='qna_titcon'">
				${search} like '%'||#{keyword}||'%'
			</if>
			<if test="keyword != null and search=='qna_titcon'">
				qna_title like '%'||#{keyword}||'%' or
				qna_content like '%'||#{keyword}||'%'
			</if>
		</where>
 order by qna_no desc) qna_board) 
 where rnum &gt;= #{startRow} and rnum &lt;= #{endRow}
<!-- <![CDATA[
 select * from (select rownum rnum, qna_board.* from (select * from qna_board order by QNA_NO desc) qna_board) 
 where rnum >= ((#{page}-1) * 10+1) and rnum <= (#{page}*10)
]]> -->
</select>

<!-- 글수정 -->
<update id="update" parameterType="qna">
  update qna_board set qna_title=#{qna_title},
 qna_content=#{qna_content} where qna_no=#{qna_no}
</update>

<!-- 글삭제 -->
<delete id="delete" parameterType="qna">
 delete from qna_board where qna_no=#{qna_no}
</delete>

<!-- 댓글lev증가 -->
<update id="qna_lev" parameterType="qna">
 update qna_board set
 qna_re_seq=qna_re_seq + 1
 where qna_re_ref=#{qna_re_ref} and qna_re_seq &gt; #{qna_re_seq}
</update>

<!-- 답글작성 -->
<insert id="insertCom" parameterType="qna">
<selectKey keyProperty="qna_no" order="BEFORE" resultType="int">
			select nvl(max(qna_no),0) + 1 from qna_board
</selectKey>
 insert into qna_board 
 values (#{qna_no}, #{username}, #{qna_title}, #{qna_content}, sysdate, #{qna_re_ref}, #{qna_re_lev}, #{qna_re_seq},0)
</insert>

 
 <!-- 통합검색 -->
<select id="selectAll" parameterType="qna" resultType="qna">
select qna_title from qna_board where like 

</select>

	
<select id="getTotal" parameterType="qna" resultType="int">
		select count(*) from qna_board
		<where>
			<if test="keyword != null and search !='qna_titcon'">
				${search} like '%'||#{keyword}||'%'
			</if>
			<if test="keyword != null and search=='qna_titcon'">
				qna_title like '%'||#{keyword}||'%' or
				qna_content like '%'||#{keyword}||'%'
			</if>
		</where>
</select>
 

</mapper>        
        